:root{
    --darkbrown: #441a02;
    --orange : #f18c18;
    --white : #fff;
    --spaceCherry: #990011ff;
    --white1: #fcf6f5ff;
    
}
.selector-for-some-widget {
    box-sizing: content-box;
  }



body{
    background-color: var(--white1);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1 {
    font-size: 3em;
    text-align: left;
    padding: 1px;
    margin:0;
}
nav{
    background-color: var(--white1);
    float:right;
    font-size : 2em;
}
.hero{
    
    background-image: url("../images/pexels-w-w-2799887.jpg");
    height: 400px;
    background-position: center;

}
#aboutMe{
    font-size: 2em;
}
li{
    display: inline;
    
    font-weight: bold;
}
a{

}
h2 {
    font-size: larger;
}
.work-container{
    display: block;
   
    padding: 10px;

    
}
.work-header{
   
    border-bottom: 3px solid black;
   
}
.box{
   
    text-align: left;
    border-style: solid;
    padding: 10px;
    margin:10px auto;
    
    position:relative;
    
}
.workInfo{
    position: absolute;
    bottom: 5%;
    left: 2px;
    flex: 1 0 100%;
    /* border-style: solid; */
    background-color: var(--spaceCherry);
    font-size: 2em;
    
    
}
/* .box div{
   
    position: absolute;
    top:30%;
    left: 2px;
    flex: 1 0 100%;
    
} */
img{
max-width: 100%;
/* align-self: center; */
padding:5px;
}
footer h2{
    border-bottom: 3px solid black;
    position: relative;
    left: 20px;
    font-size:3em;
}
footer li{
    font-size:2em;
    display:block;
    /* border-bottom: 3px solid black; */
    text-decoration: underline;
}
@media screen and (min-width:768px) {
    .work-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .work-header{
        flex:0 1 100%;
    }
    .box{
        
        flex-wrap: wrap;
        width: 45%;
        
        justify-content: space-evenly;
    }
    .workInfo{
       
    }
    .feature{
        
        flex: 0 1 95%;
    }
.feature img{
    /* max-height: 200px; */
}


/* MILESTONES
1 HTML DOC WITH CONTENT AND SEMANTIC ELEMENTS
-header/nav/subtitle
-find images , project link 
-work section: image and working link to at least one project
-about me section: no place holder text
-find image for hero

-
2 MOBILE LAYOUT
3 TABLET LAYOUT -MEDIUM
4 DESKTOP LAYOUT - LARGE
5 POLISH STYLING AND DEBUGGING
6 FINAL QA TEST (TEST EVERYTHING ON THE DEPLOYED PAGE) */